.ansible/
.claude.local.md
.python-version
.vscode/
playbooks/.DS_Store
__pycache__/
.claude/settings.local.json
*.tar
*.sha256
/artifact/
changelogs/.plugin-cache.yaml
tests/output/
*.pyc
*.tar.gz
.pytest_cache/
.idea/
*.swp
.DS_Store
